---
import JobList from '@/components/jobs';
import Marquee from '@/components/marquee.astro';
import ProjectCard from '@/components/project-card.astro';
import { siteConfig, skills } from '@/lib/config';
import { Image } from 'astro:assets';
import Socials from '../components/Socials.astro';
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout>
  <!-- <DotGrid /> -->
  <main class='flex flex-col items-center justify-center'>
    <div class='container space-y-8'>
      <div
        id='about-me'
        class='mt-16 flex flex-col items-center justify-center text-center'
      >
        <Image
          src='/profile-picture.jpg'
          alt="Jacob's profile picture"
          width={128}
          height={128}
          class='rounded-full object-cover object-center'
        />
        <span class='mb-2'>
          <h1 class='text-xl'>Jacob Samorowski</h1>
          <p class='text-md'>Software Developer & Photographer</p>
        </span>
        <Socials />
      </div>
      <div>
        <h2 class='text-center text-2xl'>About Me</h2>
        <p>
          I'm a self-taught software developer and photographer based in
          Queensland, Australia, with a passion for building meaningful digital
          experiences. Since 2021, I’ve been combining creativity and
          problem-solving to design tools that empower others—whether that’s
          through intuitive software or impactful imagery. My flexibility allows
          me to work across a wide range of projects, from full-stack web
          development to visual storytelling. I thrive in fast-paced
          environments, adapt quickly to new challenges, and love sharing what I
          learn along the way.
        </p>
      </div>
      <div id='projects'>
        <h2 class='mb-4 text-center text-4xl'>Projects</h2>
        <div id='projects' class='grid gap-6 sm:grid-cols-2'>
          {
            siteConfig.projects.map((project) => (
              <ProjectCard
                title={project.title}
                description={project.description}
                image={project.image}
                details=''
                link={project.url}
              />
            ))
          }
        </div>
      </div>
      <div id='skills'>
        <h2 class='text-center text-4xl'>Skills</h2>
        <Marquee>
          {
            skills
              .slice(0, Math.ceil(skills.length / 2))
              .map((skill) => (
                <div class='bg-muted/50 rounded-md border p-2'>{skill}</div>
              ))
          }
        </Marquee>
        <Marquee reverse={true}>
          {
            skills
              .slice(Math.ceil(skills.length / 2), skills.length)
              .map((skill) => (
                <div class='bg-muted/50 rounded-md border p-2'>{skill}</div>
              ))
          }
        </Marquee>
      </div>
      <div id='work'>
        <h2 class='mb-4 text-center text-4xl'>Work</h2>
        <JobList />
      </div>
      <div id='education' class='mb-16'>
        <h2 class='mb-4 text-center text-4xl'>Education</h2>
        <div class='items-left flex flex-col justify-center gap-2'>
          {
            siteConfig.education.map((ed) => (
              <div class='bg-muted/50 flex flex-col items-start rounded-md border p-2'>
                <div class='inline-flex items-center gap-2'>
                  <Image
                    src={ed.logo}
                    alt={ed.schoolName}
                    width={128}
                    height={128}
                    class='size-8 object-center'
                  />
                  <h3 class='font-bold'>{ed.schoolName}</h3>
                </div>
                <p class='text-sm'>{ed.description}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</SiteLayout>
