---
import Header from '../components/Header.astro';
import '../styles/global.css';
import { siteConfig } from '../lib/config';
import Footer from '@/components/Footer.astro';
import PostHog from "@/components/posthog.astro";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  keywords?: string[];
  noIndex?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = siteConfig.title,
  description = siteConfig.description,
  image = siteConfig.og.url,
  keywords = siteConfig.keywords,
  noIndex = false,
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <slot name='head' />
    <PostHog />
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{title}</title>
    <meta name='title' content={title} />
    <meta name='description' content={description} />
    {noIndex && <meta name='robots' content='noindex' />}
    <meta name='keywords' content={keywords.join(', ')} />
    <meta name='description' content={description} />
    <meta name='author' content='Jacob Samorowski' />
    <meta http-equiv='Content-Language' content='en' />
    <meta name='generator' content={Astro.generator} />
    <!--Favicon -->
    <link rel='icon' href='/profile-picture.jpg' />
    <link rel='apple-touch-icon' href='/profile-picture.jpg' />
    <link rel='sitemap' href='/sitemap-index.xml' />
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="robots" content="index, follow">

    <!-- Canonical URL -->
    <link rel='canonical' href={canonicalURL} />

    <!-- OG -->
    <!-- <meta property='og:image' content={description} /> -->
    <!-- Open Graph / Facebook -->
    <meta property='og:title' content={title} />
    <meta property="og:site_name" content={title}>
    <meta property="og:locale" content="en_AU">
    <meta property='og:description' content={description} />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:type' content='website' />
    <meta property='og:image' content={new URL(image, Astro.url)} />
    <meta property="og:image:type" content="image/jpg">

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta name="twitter:creator" content={`@${siteConfig.socials.find((social) => social.platform === 'twitter')?.handle}`}>
    <meta property='twitter:url' content={Astro.url} />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:image' content={new URL(image, Astro.url)} />
  </head>
  <body>
    <slot />
  </body>
</html>
