---
import Header from '../components/Header.astro';
import Footer from '@/components/Footer.astro';
import GeneralLayout, { type Props } from './GeneralLayout.astro';

const { title, description, image, keywords, noIndex } = Astro.props as Props;
---

<GeneralLayout
  title={title}
  description={description}
  image={image}
  keywords={keywords}
  noIndex={noIndex}
>
  <slot name='before-header' />
  <Header />

  <slot />

  <div
    class='fixed inset-0 -z-50 min-h-screen w-full bg-[radial-gradient(#7979792e_1px,transparent_1px)] [background-size:16px_16px]'
  >
  </div>

  <!-- <Footer /> -->
  <slot name='before-footer' />
  <Footer />
</GeneralLayout>
